<nav>
    <div class="logo">
        <img src="../../assets/logo.svg" alt="Logo da empresa"/>
    </div>

    <ul>
        <li>HOMEM</li>
        <li>MULHER</li>
        <li>CRIANÇA</li>
        <li>CUSTOMIZAR</li>
    </ul>

    <div class="search">
        <img class="search-icon" src="../../assets/icone-lupa.svg" alt="Ícone de lupa">
        <input type="search" placeholder="Pesquisar" />
    </div>

    <div class="bag">
        <img src="../../assets/icone-sacola.svg" alt="Ícone de sacola">
    </div>

</nav>