@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #000;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 918px;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    list-style: none;
    transition: .5s;
}

li:hover {
    color:#8257E5;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;

}

.get-coffee-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 37px;
    padding: 11px 38px 11px 38px;
    
    border: 1px solid #8257E5;
    border-radius: 6px;
    background-color: transparent;

    font-size: 11px;
    font-weight: 700;
    color: #fff;
    transition: .5s;
}

.get-coffee-button:hover {
    background-color: #8257E5;
    border: transparent;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h2 {
    color: #000;
    font-size: 80px;
    text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
    margin: 0;
}

.right-blur {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.left-blur {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
}

.logo-mobile {
    display: none;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu button {
    border: none;
    background-color: transparent;
}

.close-menu {
    display: none;
}

.close-menu button {
    border: none;
    background-color: transparent;
}

.dropdown-menu {
    display: none;
}

hr {
    display: none;
}

.mobile-content {
    display: none;
}

.mobile-content p {
    width: 375px;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
}

.mobile-content .get-coffee-button {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 190px;

}

.dropdown {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    left: 0;
    position: absolute;
}   

.dropdown-menu {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    height: 340px;
}

.open {
    display: flex;
}

.open-menu {
    padding-bottom: 600px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }