<main>

    <div class="background-sneaker">
        <img src="../../assets/sneaker1.svg" alt="Imagem de um par de tênis">
    </div>

    <div class="sneaker-content">

        <div class="left-sneaker">
            <img src="../../assets/sneaker2.svg" alt="Imagem de um par de tênis">
        </div>

        <div class="middle-sneaker">
            <img src="../../assets/sneaker4.svg" alt="Imagem de um par de tênis">
        </div>

        <div class="right-sneaker">
            <img src="../../assets/sneaker3.svg" alt="Imagem de um par de tênis">
        </div>

    </div>

    <img class="gray-background" src="../../assets/background.svg" alt="#">

</main>